/*Blake's CSS------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body, a {
    font-family: 'Montserrat', sans-serif;
}
a {
    font-family: 'Raleway', sans-serif !important;
}
.bold {
    font-weight: 400;
}
.routerWrapper {
    padding-top: 100px;
    text-align: center;
}
.rocket {
    font-size: 16em !important;
}
.profile {
    font-size: 12em !important;
    color: #f89821;
}
.sun {
    font-size: 10em !important;
}
.blu {
    background-color: #14aeba !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-left: -100px;
}
.section-heading hr {
    width: 400px;
    border-top: 1px solid #333;
}
.img-left {
    left: -200px;
    position: absolute;
    font-size: 40em !important;
    color: #14aeba;
}
.img-right {
    right: -150px;
    position: absolute;
    font-size: 40em !important;
    color: #f89821;
    z-index: -10;
}
.padthatshit {
    padding-top: 20px;
}
.more {
    padding-top: 210px;
}
.footer {
    position: relative;
    margin-top: 600px;
    /* negative value of footer height */
    
    height: 50px;
    clear: both;
    padding-top: 40px;
    background-color: #333;
    width: 100%;
}
#feedWrapper {
    padding-bottom: 40px;
}
.menu_text a {
    color: #333 !important;
}
.menu_text a:focus a:hover {
    color: #14AEBA;
    text-decoration: none !important;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
.panel-info>.panel-heading {
    background-color: #14AEBA !important;
}
tbody {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.left {
    color: #000 !important;
    padding-right: 420px;
}
.profileBox {
    margin-left: -255px !important;
}
.stuff {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.widget-menu {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden
}
.widget-menu a {
    color: #FFF;
    display: block;
    line-height: 20px;
    padding: 15px;
    text-decoration: none!important
}
.widget-menu .menu-icon {
    margin-right: 10px;
    color: #767676;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.widget-menu .label {
    background: #888;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 20px;
    padding: 0 5px
}
.widget-menu .label.green {
    background: #78ba00
}
.widget-menu .label.orange {
    background: #d74f2a
}
.widget-menu>li+li {
    border-top: 1px solid #555
}
.widget-menu>li>a {
    background-color: #2d2b32;
    color: #767676;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.widget-menu>li>a .icon-chevron-up {
    display: block
}
.widget-menu>li>a .icon-chevron-down {
    display: none
}
.widget-menu>li>a.collapsed .icon-chevron-up {
    display: none
}
.widget-menu>li>a.collapsed .icon-chevron-down {
    display: block
}
.widget-menu>li>a:hover {
    background-color: #28262c;
    color: #fafafa;
}
.widget-menu>li>a:hover .menu-icon {
    color: #fff;
}
.widget-menu>li ul li {
    background: #eee;
    border-top: 1px solid #ccc
}
.widget-menu>li ul li+li {
    border-top: 0
}
.widget-menu>li ul li.active a {
    background: #f0f0f0
}
.widget-menu>li ul li a {
    padding: 10px 15px 10px 30px
}
.widget-menu>li ul li a:hover {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 #fafafa inset;
    -moz-box-shadow: 0 1px 0 #fafafa inset;
    box-shadow: 0 1px 0 #fafafa inset;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    padding: 9px 15px 9px 30px
}
.widget-usage {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-decoration: none!important;
}
.widget-usage p {
    margin-bottom: 10px;
    line-height: 1.2
}
.widget-usage li {
    padding: 15px
}
.widget-usage li+li {
    border-top: 1px solid #ddd
}
.red {
    height: 75px;   
    width: 170px;
    background-color: #1abc9c !important;
    font-family: 'Montserrat', sans-serif;
}
.emerald {
    background-color: #2ecc71 !important;
}

.river {
    background-color: #3498db !important;
}
.ame {
    background-color: #9b59b6 !important;
}
.wet {
    background-color: #34495e !important;
}
.sea {
    background-color: #16a085 !important;
}

.neph {
    background-color: #27ae60 !important;
}

.hole {
    background-color: #2980b9 !important;
}
.wist {
    background-color: #8e44ad !important;
}
.mid {
    background-color: #2c3e50 !important;
}

.sunflower {
    background-color: #f1c40f !important;
}

.car {
    background-color: #e67e22 !important;
}
.ali {
    background-color: #e74c3c !important;
}
.cloud { 
    background-color: #ecf0f1 !important;
}
.con {
    background-color: #DB0A5B !important;
}
.oran {
    background-color: #f39c12 !important;
}
.pump {
    background-color: #d35400 !important;
}
.pomp {
    background-color: #c0392b !important;
}

.pewpew {
    padding-right: -10px;
}
/* End of Blake's CSS-----------------------------*/
/* CSS used here will be applied after bootstrap.css */

label.btn.toggle-checkbox > i.fa:before {
    content: "\f096";
}

label.btn.toggle-checkbox.active > i.fa:before {
    content: "\f046";
}

label.btn.toggle-checkbox.active {
    background-color: rgba(236, 240, 241,1) !important;
    border-color: #2b669a;
    color: #333;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.btn-group-sm>.btn, .btn-sm {
    padding-right: 65px !important;
    font-size: 16px !important;
}
